
@tailwind base;
@tailwind components;
@tailwind utilities;
body,html{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
}

.nav{
    @apply w-full max-h-[70px] flex justify-between items-center font-serif fixed z-10  border-gray-400 text-white px-4 py-3 
}

.main_h2{
@apply text-center text-4xl font-serif mb-5 mt-5 text-green-900 
}

.row{
    @apply max-w-xs rounded-md shadow-lg mx-3 my-5
}
/* .container{
    @apply flex justify-center  items-center
} */
.hero_h1{
    @apply text-center text-4xl font-serif py-4 text-green-900
}
.container-hero{
@apply flex justify-center  items-center
}

.hero_p{
@apply font-normal mt-10 mb-20 text-green-900 
}

 /* .gradient-text { */
    /* font-size: 5rem; 
    font-weight: bold; */
    /* background: linear-gradient(to bottom, #4A90E2, #28A745); */
     /* background: linear-gradient(to bottom, #5292db, #89848b);  */
    /* background: linear-gradient(to bottom, rgba(44, 86, 238, 1), rgba(107, 135, 241, 1)); */
    /* background: linear-gradient(90deg, #2C56EE 0%, #6B87F1 100%); */
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; */

  /* } */



/* Fade-in effect with downward offset */
.fade-in {
  opacity: 0;
  transform: translateY(100px); /* Start with an offset from the original position */
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-in.animate {
  opacity: 1;
  transform: translateY(0); /* Move element to its original position */
}

/* Slide-in effect from the right */
.slide-in {
  opacity: 0;
  transform: translateX(100px); /* Start offset to the right */
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.slide-in.animate {
  opacity: 1;
  transform: translateX(0); /* Move element to its original position */
}

  


  




  




